#intro {
  color: white;
  background-color: brown;
  h2 {
    text-align: center;
    font-size: 40px;
  }
  p {
    font-size: 30px;
    text-align: justify;
  }

  b {
    color: black;
  }

  img {
    width: 50%;
  }
}

#development {
  color: white;
  background-color: brown;
  h1 {
    text-align: center;
    font-size: 40px;
  }

  ul {
    font-size: 25px;
  }

  img {
    width: 50%;
  }
}
